
.search-group {
    margin: 8px;
}

.search-group {
    width: 100%;
    text-align: center;
}
#search-input {
    margin: 4px;
}

.search-group:last-child {
    border-top: 2px solid black;
    padding: 4px;
}
.history-btn {
    margin: 4px;
}
.icon {
    width: 50px;
}
.row {
    margin: 12px 0;
}
#uv {
    padding: 4px;
}
.main-row {
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .1);
}
header h1 {
    display: flex;
    justify-content: center;
}